PORT=4000
AUTH_TOKEN=
SECRET=
TAP_HOST=data.evalix.xyz
TAP_USER=frappe
TAP_SSH_KEY=/home/frappe/.ssh/id_rsa
TAP_SITE=tap.localhost
TAP_BENCH=/home/frappe/frappe-bench
TAP_APP=tap_lms
TAP_ADMIN_PASS=
TAP_DB_ROOT_PASS=
TAP_BRANCH=feature/RAG
TAP_REPO=https://github.com/omsandippatil/frappe_tap.git
TAP_GUNICORN_PORT=8000
RAG_HOST=rag.evalix.xyz
RAG_USER=frappe
RAG_SSH_KEY=/home/frappe/.ssh/rag_key
RAG_SITE=rag_service.local
RAG_BENCH=/home/frappe/frappe-bench
RAG_APP=rag_service
RAG_ADMIN_PASS=
RAG_BRANCH=plg_integration
RAG_REPO=https://github.com/theapprenticeproject/rag_service.git
PLG_HOST=plg.evalix.xyz
PLG_USER=gcp-data
PLG_SSH_KEY=/home/frappe/.ssh/plg_key
PLG_API_PORT=8006
PLG_DB_PASS=
PLG_BRANCH=plg_integration
PLG_REPO=https://github.com/theapprenticeproject/tap_plg.git
GITHUB_TOKEN=
DB_PATH=/opt/tap-dashboard/deploy.db
LOG_RETENTION_DAYS=7
